@import '@/app/styles/variables.scss';
@import '@/app/styles/prefix.scss';


.header {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 8rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-inline: 6rem 2rem;
   background-color: $black2;
   color: $white;
   z-index: 100;
   transition: all 0.3s ease-out;
   animation: inOut 1s ease-out infinite;

   &.transparent {
      background-color: transparent;
   }

   h1 {
      font-size: $l;
      font-family: $main-font;
      font-weight: 700;

      span {
         color: $primary-color;
      }
   }

   ul {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: $s;

      li {
         a {
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 25px;
            padding-block: 1rem;
            padding-inline: 3.6rem;
            z-index: 10;
            transition: all 0.3s ease-out;


            &::after {
               content: '';
               position: absolute;
               left: 50%;
               bottom: 0.4rem;
               transform: translateX(-50%);
               height: 0.1rem;
               width: 0;
               border-radius: 2px;
               background-color: $white;
               transition: all 0.1s ease-out;
            }

            &:hover::after,
            &.active::after {
               width: 50%;
            }

            &.active {
               color: $primary-color;
            }

            span.active {
               position: absolute;
               display: block;
               left: 0;
               top: 0;
               height: 100%;
               width: 100%;
               border-radius: 25px;
               background-color: $white;
               color: $primary-color;
               z-index: -10;
            }
         }
      }
   }
}